#StaffEdit{
    border:1px solid #ccc;
    min-height: 100%;
    background: white;
    padding:20px;
    font-size: 14px;
    h2{
        border-bottom:1px solid #ccc;
        line-height: 44px;
        font-size: 14px;
        color: #999;
    }
    .title{
        padding-left: 10px;
        border-left: 2px solid #9137F3;
        font-weight: bold;
        margin: 20px 0;
        font-size: 16px;
    }
    textarea{
        width: 400px;

    }
    .change{

        .info-item{
            display: flex;
            height: 32px;
            line-height: 32px;
            margin-top:20px;
            p{
                width:160px;
                padding:0 20px;
                text-align: right;
                display: inline-block;
                .redSpan{
                    color:red;
                }

            }
            input{
                width:300px;
            }
           
        }
        .info{            
            height: auto;
        }
    }
    .allBtn{
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    .saveBtn {

        
    }
    .cancelBtn{
        background: #ccc;
        border-color: #ccc;
        margin-left: 20px;
    }
}