#GeneralSetting{
    border:1px solid #ccc;
    background: white;
    min-height: 200px;
    padding:50px 40px;
    min-width: 660px;
    font-size: 14px;
    .setting{
        margin-bottom:20px;
    }
    .ant-input-number{
        margin:0 5px;
    }
    button{
        
        margin:150px 0 0 500px;
    }
}