#orderListTable{
    thead,th{
        background: #9137F3!important;
        color:white;
    }
    td,th{        
        text-align: center;
        vertical-align: middle;
    }
    .handle{
        a{
            padding:0 5px;
            color:#9137F3;
        }
        span{
            color:#9137F3;
        }
    }
    .delete{
        cursor: pointer;
    }
    .ant-popover-inner-content{
        display: flex;
        flex-direction: row;
    }
}