#finance{
    min-height: 100%;
    .count-filtrate{
        padding:20px;
        border:1px solid #ccc;
        background: white;
    }
   
    .price-count{
        margin-top:10px;
        overflow: hidden;
        p{
            float: left;
            &:nth-of-type(2){
                margin-left:50px;
            }
            b{
                color:red;
            }
        }
    }
    .title{
        display: flex;
        padding-bottom:20px;
        span{
            margin-left:5px;
        }
    }
    .search{
        border-radius: 6px;
        background: white;
        margin-top:30px;
        .type{
            display: flex;
            line-height:100%;
            .input{
                display: flex;
                input{
                    width:180px;
                    margin-left: 10px;
                }
                span{
                    line-height:32px;
                }
            }
            .selectData{
                margin-left:20px;
            }
            button{
                background: #9137F3;
                color:white;
                margin-left:40px;
            }
            .clear{
                line-height: 32px;
                color:#9137F3;
                margin-left:20px;
            }

        }

        .checkBox{
            line-height: 36px;
            margin-bottom:10px;
        }

        
    }
}